
@{
    ViewBag.Title = "实际";
}


<!-- Bootstrap-table -->
<link href="~/Scripts/bootstrp-table/bootstrap-table.css" rel="stylesheet" />
<!-- datetimepicker -->
<link href="~/Scripts/bootstrap-datetime/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<!-- fileinput -->
<link href="~/Scripts/fileinput/css/fileinput.min.css" rel="stylesheet" />

<!-- Custom Theme Style -->
<link href="~/Scripts/build/css/custom.min.css" rel="stylesheet">

<link href="~/Scripts/Hrm/css/hrmStyle.css" rel="stylesheet" />

<style>
    #myModal, #myModal1 {
        top: 20%;
    }
</style>

<!-- 数据信息 -->
<div class="row" id="mainData">

    <!-- 查询 -->
    <div class="x_panel">
        <div class="x_title">
            <a class="collapse-link">
                <span style="color:#250486;font-size:14px;font-weight:bold;">查询条件：</span>
                <span class="pull-right"><i class="fa fa-chevron-up"></i></span>
            </a>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <form class="form-horizontal form-label-left" novalidate>

                <div class="item form-group">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        开始日期：
                        <input class="form_datetime" type="text" readonly="readonly" id="startDate" />
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        结束日期：
                        <input class="form_datetime" type="text" readonly="readonly" id="endDate" />
                    </div>
                </div>

            </form>
        </div>
    </div>

    <!-- 数据 -->
    <div class="x_panel">
        <div class="x_title">
            <div class="pull-left">
                <div class="btn-group">
                    <span class="btn btn-default btn-sm">菜单：</span>
                    <a href="#" id="btnAdd" class="btn btn-default btn-sm"><i class="fa fa-plus"></i>&nbsp;生成</a>
                    <a href="#" id="btnExp" class="btn btn-default btn-sm"><i class="fa fa-print"></i>&nbsp;导出</a>
                    <a href="#" id="btnDel" class="btn btn-default btn-sm"><i class="fa fa-trash"></i>&nbsp;删除</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row top_tiles">
                <table id="table1" data-classes="table table-hover"></table>
            </div>

        </div>
    </div>

</div>

<!-- 数据同步 -->
<div class="row" id="addData" style="display:none;">

    <div class="x_panel">
        <div class="x_title">
            <span style="color:#250486;font-size:14px;font-weight:bold;">数据同步>></span>
            <a href="#" id="btnBack">
                <span class="pull-right"><i class="fa fa-mail-reply"></i></span>
            </a>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">
            <div class="col-md-3 col-sm-3 col-xs-12"></div>

            <div class="col-md-4 col-sm-6 col-xs-12">

                <div class="btnDiv">
                    <p>
                        年 度：
                        <select id="yearly2"></select>
                    </p>
                    <p>
                        月 度：
                        <select id="monthly2"></select>
                    </p>

                    <button type="button" id="btnSave" class="btn btn-success btn-xs"><i class="fa fa-save"></i>&nbsp;确 定</button>

                    <div class="msgDiv">
                    </div>
                </div>
            </div>

            <div class="col-md-5 col-sm-3 col-xs-12"></div>

        </div>

    </div>

</div>



<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog" style="height:50px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">提示：</h4>
            </div>
            <div class="modal-body">
                <span id="result" style="color:red;"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" style="margin-right:20px;"><i class="fa fa-check"></i>&nbsp;确定</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog" style="height:50px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">删除提示：</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="_hrId" value="0" />
                <span id="result1" style="color:red;"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" style="margin-right:10px;"><i class="fa fa-close"></i>&nbsp;取消</button>
                <button type="button" class="btn btn-primary btn-sm" id="btnOk" style="margin-right:20px;"><i class="fa fa-check"></i>&nbsp;确定</button>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="~/Scripts/vendors/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap-datetime -->
<script src="~/Scripts/bootstrap-datetime/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/bootstrap-datetime/bootstrap-datetimepicker.zh-CN.js"></script>

<!-- Bootstrap-table -->
<script src="~/Scripts/bootstrp-table/bootstrap-table.js"></script>
<script src="~/Scripts/bootstrp-table/bootstrap-table-zh-CN.js"></script>

<script src="~/Scripts/Hrm/hrjs/Hr_Midfact.js"></script>

<script>

    $(function () {

        jsObject.Setted.init();
    });


</script>










